{{ include ('header.html.twig', {}) }}
    <link href="{{ asset('css/comun.css') }}" rel="stylesheet" type="text/css" />

<div class="container d-flex mt-2 bg-light" style="height:500">

  <div class="dropdown mt-5">
    <button class="btn btn-secondary" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Información del perfil
    </button>
    {% if mensaje %}
    {% if color == 'verde' %}
    <span class="text-success">{{mensaje}}</span>
    {% else %}
    <span class="text-danger">{{mensaje}}</span>
    {% endif %}
    {% endif %}
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <img src="/imgs/user/{{user.image}}" style="width:300"/>
      <p>Correo electrónico <span class="fw-bold">{{user.email}}</span></p>
      <p>Nombre <span class="fw-bold">{{user.name}}</span></p>
      <a class="btn btn-danger" href="{{ path('app_deleteUser', {user:user.id}) }}">Eliminar cuenta</a>
    </ul>
  </div>
</div>
 {{ include ('footer.html.twig', {}) }}