<link href="{{ asset('css/comun.css') }}" rel="stylesheet" type="text/css" />
{{ include ('header.html.twig', {}) }}


<div class="container general bg-light">
  <div class="padre mt-5">
    <a href="{{ path('app_crearEvento') }}" class="btn btn-secondary" type="button">
      Crear evento
    </a><br>
    <a href="{{ path('app_misEventos') }}" class="btn btn-secondary mt-3" type="button">
      Ver mis eventos
    </a>
    <div class="dropdown">
      <button class="btn btn-secondary mt-3 mb-5" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        Mostrar perfil
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <p class="text-center"><span class="fw-bold fs-2 text-danger">{{ user.name }}</span></p>
        <p>Correo electrónico: <span class="fw-bold">{{ user.email }}</span></p>
        <p><span class="fw-bold"></span></p>
      </ul>
    </div>
  </div>
</div>


{{ include ('footer.html.twig', {}) }}